<!DOCTYPE html>
    <%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
     <header>
        <div class="banner">
            <a href="index.html"><img class="responsive-banner" src="banner.png" alt=""></a>
        </div>
    </header>
<hr>
<div id="wrapper">

<main>
<div class="container2">
    <h2>Here are the courses that you added</h2>
    
</div>
</main>
<hr>
<%- include("./partials/footer.ejs") %>
</div>
</body>
</html>