<!DOCTYPE html>
<html lang="en">
<head>	
<title>G7 University</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="finalproject.css">

</head>

<body>
    <%- include("./partials/nav.ejs") %>
 
    <form class="center">
        <div class="formContainer">
        <h1>Sign Up Form</h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="repeatPassword"
        required>
        <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 15px"> Remember me
        </label>
       
        <div>
        <button type="button" class="cancel">Cancel</button>
        <button type="submit" class="signup">Sign Up</button>
        </div>
        </div>
        </form>


<br>
<hr>
<%- include("./partials/footer.ejs") %>
</div>
</body>
</html>


