<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
     <header>
        <div class="banner">
            <a href="index.html"><img class="responsive-banner" src="banner.png" alt=""></a>
        </div>
    </header>
<hr>
<div id="wrapper">

<main>
<div class="bannerhero">
    <h2>Student Info</h2>
    <p>Add Student Info here</p>
    <p>
        If you have any questions, feel free to 
        <a href="/contact"> contact</a> us.  
    </p>

</div>
</main>
<hr>
<%- include("./partials/footer.ejs") %>
</div>
</body>
</html>


